<!-- enable the user to view his or her cantacts -->
<th>
  <td><b>#</b></td>
</th>
  <td class="data">{{contact.contact_name}}</td>
  <td class="data">{{contact.contact_no}}</td>
  <td class="data"><button {{action 'delete' contact}} class="btn btn-danger">Delete</button></td>
  <td>{{update-admin contact=contact update=update}}</td>
<!-- {{new-admin saveContact2="saveContact3"}} -->
